<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jpp.dao.AccountMapper">
    <update id="outMoney">
        UPDATE account set money = money - #{money} WHERE name=#{out}
    </update>

    <update id="inMoney">
        UPDATE account set money = money + #{money} WHERE name=#{in}
    </update>
</mapper>